@{
    ViewData["Title"] = "Register";
}
@model wedding.Models.RegisterViewModel
<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                     <li><a asp-area="" asp-controller="Home" asp-action="Home">Wedding Planner</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Home">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="logout">Log Off</a></li>
                </ul>
            </div>
        </div>
    </nav>
<div class="row">
  <div class="col-sm-5 col-md-6">
      <form action="register" method="post">
         <h1>Register</h1>
        <div class="form-group mt-5">
            <label asp-for="FirstName"></label>
            <input type="text" class="form-control" asp-for="FirstName">
            <span  class="text-danger" asp-validation-for="FirstName"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName"></label>
            <input type="text" class="form-control" asp-for="LastName">
            <span class="text-danger" asp-validation-for="LastName"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input type="email" class="form-control" asp-for="Email">
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input type="password" class="form-control" asp-for="Password">
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <input type="password" class="form-control" asp-for="ConfirmPassword">
            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
        </div>
       
        <div class="col"> 
            <button type="submit" class="btn btn-success ml-auto">SignUp</button>
        </div>
    </form> 
  </div>

<div class="row">
  <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
       <form action="login" method="post">
         <h1>Login</h1>
        <div class="form-group mt-5">
            <label asp-for="Email"></label>
            <input type="text" class="form-control"  asp-for="Email">
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input type="password" class="form-control" asp-for="Password">
        </div>
        <p class="text-danger">@TempData["error"]</p>
        <button type="submit" class="btn btn-success ml-auto">Sign In</button>
    </form>
  </div>
</div>













